# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Editor
.DS_Store
.idea
.vscode
*.swp

# Testing
coverage/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
